@media screen and (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

/* === for test only === */
/* * {border:1px solid red;} */


/* ==================== variables ==================== */
:root {

    /* font sizes */
	--font-size: 24px;

    /* gap sizes */
	--gutter: calc(var(--font-size) * 1.618);

	/* colors */
	--bg-color: #1A2535;
}

/* color */
body{
	background-color: var(--bg-color);
	color: white;
}

/* font sizes */
@media (min-width: 600px){
	:root {
		--font-size: 24px;
	}
}
body {
	font-size: var(--font-size);
}

/* ==================== fonts ==================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}
h1 {
	font-family: 'Roboto', sans-serif;
}


/* ==================== global margin ==================== */

.margin {
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

@media (min-width: 1280px){
    .margin {
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
body {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--gutter) * 5);
}

header{
	height: vh;
	width: vw;
}

main {
	display: flex;
	flex-direction: column;
	row-gap: var(--gutter);
}
footer {
	text-align: center;
	font-size: calc(var(--font-size) * 0.5);
}

/* ==================== nav ==================== */
nav {
	margin-top: calc(var(--gutter) * 1);
	margin-bottom: calc(var(--gutter) * 3);
	margin-left: calc(var(--gutter) * 1);
	margin-right: calc(var(--gutter) * 1);
}
nav ol {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* ==================== header ==================== */
header {
	background: linear-gradient(rgba(255, 255, 255, 0.5), var(--bg-color));
}
#header-flex-1{
	display: flex;
	flex-direction:row;
	gap: 5%;
}
#header-flex-2{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	width: 55%;
}

h1 {
	font-size: 160px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: white;
}
h1 span {
	opacity: 5%;
	transition: 1s;
}
h1 span:hover {
	opacity: 100%;
}

#subhead {
	font-size: 36px;
	width: 40%;	
	opacity: 50%;
	margin-top: 300px;
}
#author {
	font-size: 20px;
	font-weight: 100;
}

/* ==================== main ==================== */
main {
}



